@import "bootstrap";
$blue_pcps: #0c2f72;
$orange_pcps: #ff7f2f;

body {
  font-family: 'Poppins', sans-serif;
}

.navbar-pcps {
  background-color: $orange_pcps;
  color: #fff;
  border-radius: 0px;
  min-height: 74px;
  a {
    color: #fff;
  }
  .navbar-toggle.collapsed {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-nav {
    & > li > a {
      border-radius: 4px;
      text-shadow: none;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.05em;
    }
    &.navbar-left {
      margin-left: 30px;
      padding-top: 21px;
      padding-bottom: 21px;
      & > li > a {
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        .active, &:active, &:focus {
          background-color: #fff;
          color: $orange_pcps;
        }
        &:hover {
          background-color: $blue_pcps;
        }
      }
    }
    &.navbar-right {
      margin-top: 10px;
      margin-bottom: 10px;
      & > li > a {
        font-size: 20px;
        width: 50px;
        text-align: center;
        background-color: $blue_pcps;
        margin: 2px;
      }
    }
  }
  .navbar-brand {
    padding: 0px;
    text-shadow: none;
    height: 74px;
    img {
      height: 68px;
      margin: 3px 0px;
    }
  }
}

.footer {
  padding-top: 26px;
  font-family: 'SF-Pro-Display', Roboto, Sans-Serif;
  background-color: $blue_pcps;
  font-weight: 100;
  color: #fff;
  letter-spacing: 0.05em;

  .link-list {
    margin-top: 20px;
    .socials-ico {
      a {
        color: #fff;
        font-size: 18px;
        margin: 0 4px;
      }
    }
  }
}


#home-carousel {
  margin-top: 75px;
}
