@import "bootstrap";

body {
  font-family: 'Poppins', sans-serif;
}

.navbar-pcps {
  background-color: #ff7f2f;
  color: #fff;
  border-radius: 0px;
  min-height: 74px;
  a {
    color: #fff;
  }
  .navbar-toggle.collapsed {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-nav {
    & > li > a {
      border-radius: 4px;
      text-shadow: none;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.05em;
    }
    &.navbar-left {
      margin-left: 30px;
      padding-top: 21px;
      padding-bottom: 21px;
      & > li > a {
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        .active, &:active, &:focus {
          background-color: #fff;
          color: #ff7f2f;
        }
        &:hover {
          background-color: #0c2f72;
        }
      }
    }
    &.navbar-right {
      margin-top: 10px;
      margin-bottom: 10px;
      & > li > a {
        font-size: 20px;
        width: 50px;
        text-align: center;
        background-color: #0c2f72;
        margin: 2px;
      }
    }
  }
  .navbar-brand {
    padding: 0px;
    text-shadow: none;
    height: 74px;
    img {
      height: 68px;
      margin: 3px 0px;
    }
  }
}


.footer {

}
